{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<h1>Articles</h1>
{% if articles %}
    <table id="articles" class="table table-striped">
        <thead>
            <tr><th>Article</th> <th>Actions</th></tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.designation }}</td>
                    <td> <a href="/articles/{{ article.id }}" class="btn btn-primary">Détails</a>
                        <a href="/article/delete/{{ article.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this article?');">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun articles</p>
{% endif %}
{% endblock %}
