{% extends 'base.html.twig' %}
{% block title %}{{ article.designation }}{% endblock %}
{% block body %}
<h1 style="color: #007FFF">Designation: {{ article.designation }}</h1>
<h3>Description: {{ article.description }}</h3>
<p>Prix: {{ article.prix }}<br>
<hr>
<a href="/articles" class="btn btn-primary">back</a>
{% endblock %}
